{% extends "entreprises/base.html" %}

	{% block css_site %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	{% endblock %}

	{% block navbar_wrapper %}
	<nav class="navbar navbar-fixed-top navbar-default navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Django entreprises</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li{% if actif == "liste" %} class="active" {% endif %}><a href="/list">Liste des entreprises</a></li>
					<li{% if actif == "iti" %} class="active" {% endif %}><a href="/itineraire_entreprise">Itinéraire</a></li>
					<li{% if actif == "proches" %} class="active" {% endif %}><a href="/proches_entreprises">Les entreprises les plus proches</a></li>
					<li{% if actif == "publi" %} class="active" {% endif %}><a href="/publipostage">Publipostage</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<div class="collapse" id="collapseSearch">
						<form class="navbar-form navbar-search" role="search">
							<div class="input-group">

								<div class="input-group-btn">
									<button id="typeRecherche" type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="glyphicon glyphicon-search"></span>
										<span class="label-icon"></span>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu pull-left" role="menu">
										<li>
											<a href="#">
												<span class="glyphicon glyphicon-globe"></span>
												<span class="label-icon">Recherche par nom de ville</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="glyphicon glyphicon-briefcase"></span>
												<span class="label-icon">Recherche par nom d'entreprise</span>
											</a>
										</li>
									</ul>
								</div>

								<input style="width:150px;" type="text" class="form-control">

								<div class="input-group-btn">
									<button onclick="rechercher()" type="button" class="btn btn-search btn-default">
										GO
									</button>
								</div>
							</div>
						</form>
						</div>
					</li>
					<li>
						<a data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"><span style="color:white;" class="glyphicon glyphicon-search"></span></a>
					</li>
				</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block js_footer %}
	<script src="/static/js/search.js"></script>
	<script type="text/javascript">
		var typeahead = [
			    "Draggable",
			    "Droppable",
			    "Resizable",
			    "Selectable",
			    "Sortable"
			];
			// $('.typeahead').typeahead()

		// $('#recherche').autocomplete=({
		//     source : liste})
		// ;

		function rechercher(){
			var bt = document.getElementById("typeRecherche")
			if(bt.innerText==" Recherche par nom d'entreprise"){
				window.location.href='/list/rechE/'+document.getElementById('recherche').value;
			}
			else if(bt.innerText==" Recherche par nom de ville"){
				window.location.href='/list/rechV/'+document.getElementById('recherche').value;

			}

		}
	</script>
{% endblock %}
