{% extends "entreprises/base_navbar_responsive.html" %}

{% block title %}
	entreprise {{entreprise.nom}}
{% endblock %}

{% block content %}
	{{ block.super }}
	<div class="col-lg-12">
		<h1 class="page-header">entreprise {{entreprise.nom}} <a href="#modalAddList" data-toggle="modal" data-target="#modalAddList" ><span style="font-size:0.7em;color: black;" class="glyphicon glyphicon-th-list"></span></a></h1>
	</div>

	<div class="text-center col-md-6">
		<p>{{entreprise.adresse}}, {{entreprise.codePostal}} {{entreprise.ville}}</p>
		<p><span class="glyphicon glyphicon-earphone"></span> {{entreprise.telephone}}</p>
		{% if entreprise.taxe_apprentissage_payee %}
		<p style="color: green;">Taxe d'apprentissage payée le {{entreprise.taxe_apprentissage_date}}
		{% else %}
		<p style="color: red;">Taxe d'apprentissage non payée
		{% endif %}
		<a style="color:black;" class="glyphicon glyphicon-pencil" data-toggle="collapse" href="#collapseEdit" aria-expanded="false" aria-controls="collapseEdit"></a></p>
		<div class="collapse" id="collapseEdit">
			<form action="/entreprise/{{entreprise.id}}/update_taxe" method="GET">
				<div class="checkbox">
					<label><input type="checkbox" name="la_taxe_cb" checked="checked"> La taxe est-elle payée ?</label>
				</div>
				<input type="hidden" name="la_taxe_id" value="{{entreprise.id}}">
				<br>
				<input type="submit" class="btn btn-success" style="margin:20px 20px;margin-top:0px;">
			</form>
		</div>
	</div>
	
	<div style="border-left: 1px solid #EEEEEE;" class="text-center col-md-6">
		{% if entreprise.contact_date %}
		<p>Dernier contact le <i>{{ entreprise.contact_date }}</i> par <i>{{ entreprise.contact_envoyeur }}</i>, via <i>{{ entreprise.contact_moyen }}</i></p>
		<p>Sujet : <i>{{ entreprise.contact_sujet }}</i></p>
		{% else %}
		<p>L'entreprise n'a jamais été contactée</p>
		{% endif %}
		<a style="margin-bottom: 12px;" href="#collapseContact" class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="collapseContact">Modifier les informations de contact <span class="caret"></span></a>
		<div class="collapse" id="collapseContact">
			<form action="/entreprise/{{entreprise.id}}/update_contact" method="GET">
				<div class="form-group">
					<div class="col-md-3">
						<label for="envoyeur">Envoyeur :</label>
					</div>
					<div class="col-md-9">
						<input type="text" class="form-control" id="envoyeur" name="envoyeur">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-3">
						<label for="moyen_contact">Moyen de contact :</label>
					</div>
					<div class="col-md-9">
						<input type="text" class="form-control" id="moyen_contact" name="moyen_contact">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-3">
						<label for="sujet">Sujet du contact :</label>
					</div>
					<div class="col-md-9">
						<input type="text" class="form-control" id="sujet" name="sujet">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-3">
						<label for="mail_ent">Email :</label>
					</div>
					<div class="col-md-9">
						<input type="email" class="form-control" id="mail_ent" name="mail_ent">
					</div>
				</div>
				<input type="hidden" name="entreprise_id" value="{{entreprise.id}}">
				<input class="btn btn-success" type="submit" name="">
			</form>
		</div>
	</div>

	<div style="background: transparent url(/static/img/loading.gif) no-repeat center center;}" class="col-md-12">
		<iframe width="100%" height="650" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{escaped_adress}}&key= AIzaSyC1xyfTIkw-JCaxzYN2mWUUtmB9jpFxVNg" allowfullscreen></iframe> 
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalAddList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form action="/api/add_ent/{{entreprise.id}}" method="GET">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Ajouter cette entreprise à une liste</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="inputNom">Choisissez la liste à laquelle ajouter cette entreprise</label>
							<select class="form-control selectpicker" name="liste">
							{% for liste in listes %}
								<option value="{{liste.id}}">{{liste.id}}) {{liste.nom}}</option>
							{% endfor %}
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						<button type="submit" class="btn btn-success">Sauvegarder</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
