{% extends "entreprises/base_navbar_responsive.html" %}

{% block title %}
	Bienvenue
{% endblock %}

{% block css_bootstrap %}
	{{ block.super }}
{% endblock %}

{% block content %}
	<div class="col-lg-12">
		<h1 class="page-header">Gestion entreprise django</h1>
	</div>
{% endblock %}