{% extends "entreprises/base_navbar_responsive.html" %}

{% block title %}
	Liste des entreprises triée
{% endblock %}

{% block css_bootstrap %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="/static/css/liste-entreprise.css">
	<style type="text/css">
		/*!
		 * Start Bootstrap - Thumbnail Gallery (http://startbootstrap.com/)
		 * Copyright 2013-2016 Start Bootstrap
		 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
		 */

		.thumb {
			margin-bottom: 30px;
		}

	</style>
{% endblock %}

{% block content %}
	{{ block.super }}
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
					<h1 class="page-header">Liste {{titre}}</h1>

			</div>

			<div class="col-lg-11">

				<div class="panel-group" id="accordion">
					{% for key, value in list %}

					<div class="panel panel-primary">
						<div class=" panel-heading">
							<h4 class=" label label-success panel-title text-center">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{key}}">{{ key }}</a>
							</h4>
						</div>
						<div id="collapse{{key}}" class="panel-collapse collapse ">
							<div class="panel-body">
								<div class="col-lg-12">
									<ul class="list-group">
									{% for obj in  value  %}
										<li class="col-lg-3 col-md-4 col-xs-12 thumb">
											<a class="thumbnail" href="/entreprise/{{obj.pk}}">
												<h2>{{ obj.nom }}</h2>
												<p>{{ obj.ville }}</p>
												<p>{{ obj.telephone }}</p>
											</a>
										</li>
									{% endfor %}
									</ul>
								</div>
						</div>
					</div>
				</div>
					{% endfor %}
			</div>

		</div>



		</div>
	</div>

{% endblock %}
