{% extends "entreprises/base_navbar_responsive.html" %}

{% block title %}
	Liste des entreprises trié
{% endblock %}

{% block css_bootstrap %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="/static/css/liste-entreprise.css">
	<style type="text/css">
		/*!
		 * Start Bootstrap - Thumbnail Gallery (http://startbootstrap.com/)
		 * Copyright 2013-2016 Start Bootstrap
		 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
		 */

		.thumb {
			margin-bottom: 30px;
		}

	</style>
{% endblock %}

{% block content %}
	{{ block.super }}
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<h1 class="page-header">Liste des entreprises</h1>
			</div>
			<div class="col-lg-3">
					<div class="panel-group" id="accordion">
						{% ifnotequal "1" recherche %}
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
					        Nom</a>
					      </h4>
					    </div>

					    <div id="collapse1" class="panel-collapse collapse in">
					      <div class="panel-body">
									<div class="radio">
									  <label><input class="trie" id="trieEA" type="radio" name="optradio">Alphabétique</label>
										</div>
										<div class="radio">
										  <label><input class="trie" id="trieEI" type="radio" name="optradio">Alphabétique inversé</label>
										</div>
								</div>
					    </div>
					  </div>
						{% endifnotequal %}
						{% ifnotequal "2" recherche %}
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
					        Ville</a>
					      </h4>
					    </div>
					    <div id="collapse2" class="panel-collapse collapse">
					      <div class="panel-body">
									<div class="radio">
									  <label><input class="trie" id="trieVA" type="radio" name="optradio">Alphabétique</label>
										</div>
										<div class="radio">
										  <label><input class="trie" id="trieVI" type="radio" name="optradio">Alphabétique inversé</label>
										</div>
								</div>
					    </div>
					  </div>
						{% endifnotequal %}
						<button class=" btn-success btn btn-default" onclick="trie()"type="submit">Valider
							<i class="glyphicon glyphicon-search"></i>
      			</button>

				</div>

			</div>
			<div class="col-lg-9">
				<ul class="list-group">
				{% for obj in list %}
					<li class="col-lg-3 col-md-4 col-xs-12 thumb">
						<a class="thumbnail" href="/entreprise/{{obj.pk}}">
							<h2>{{ obj.nom }}</h2>
							<p>{{ obj.ville }}</p>
							<p>{{ obj.telephone }}</p>
						</a>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	<div class="col-md-12 text-center">
		<ul class="pagination pagination-lg">
			{% if list.has_previous %}
				<li><a href="?page={{list.previous_page_number}}">&laquo;</a></li>
			{% endif %}

				<li class="active"><a href="?page={{list.number}}">{{list.number}}</a></li>

			{% if list.has_next %}
				<li><a href="?page={{list.next_page_number}}">&raquo;</a></li>
			{% endif %}
		</ul>
	</div>

	<script type="text/javascript">

		function trie(){
			var inputs=document.getElementsByClassName("trie");
			for(var i = 0;i< inputs.length;i++){
				if(inputs[i].checked){
					if(inputs[i].id == "trieEA"){
						window.location.href='/list/trierV/{{NomRechercher}}/1';
					}
					else if (inputs[i].id == "trieEI") {
						window.location.href='/list/trierV/{{NomRechercher}}/0';
					}
					else if (inputs[i].id == "trieVA") {
						window.location.href='/list/trierN/{{NomRechercher}}/1';
					}
					else{
						window.location.href='/list/trierN/{{NomRechercher}}/0';
					}
				}
			}

		}
	</script>
{% endblock %}
