{% extends "entreprises/base_navbar_responsive.html" %}


{% block notes %}
faire marcher quand on rentre une adresse
faire marcher avec la localisation auto

afficher les trois entreprises les plus proches du point trouvé
{% endblock %}

{% block title %}
Les entreprises les plus proches
{% endblock %}

{% block content %}
{{ block.super }}
	<div class="col-lg-12">
		<h1 class="page-header">SALUT</h1>
	</div>

	<label for="adresse">
		Acceptez la géolocalisation ou entrez une adresse : 
	</label>
	<input id="adresse" type="text" name="adresse">
	<input class="btn btn-success" type="submit" onclick="return validation_manuelle()">

	<ul id="la_list">
	</ul>

	<div id="map" style="display: none;"></div>

{% endblock %}

{% block js_footer %}
<!--<script src="/static/js/proche.js">-->
<script>
var truc_lat
var truc_lgt

	function validation_manuelle() {
		$("#la_list").empty()
		adresse = $("#adresse").val()
		$.get("api/adresseToCoord/"+adresse, function(data, status) {
			console.log("Data : "+data+"\n status : "+status)
			data = JSON.parse(data)
			$('#la_form').remove()
			$.get("api/3_proche/"+data["latitude"]+"/"+data["longitude"], function(data, status){
				console.log("Data: " + data + "\nStatus: " + status)
				var data = JSON.parse(data)
				for(truc in data) {
					id_ent = data[truc][0]
					$("#la_list").append("<li><a href=\"/entreprise/"+id_ent+"\">"+"entreprise "+truc+"</a></li>")
				}
			})
		})
	}
	function le_truc(position) {
		var lat = position.coords.latitude
		truc_lat = lat
		var lgt = position.coords.longitude
		truc_lgt = truc_lgt
		console.log("positionné : "+lat+ ", "+lgt)
		$("#la_form").remove()
		$("#map").css('display', "block")
		//get les 3 entreprises et les ajouter à la liste
		$.get("api/3_proche/"+lat+"/"+lgt, function(data, status){
			console.log("Data: " + data + "\nStatus: " + status)
			var data = JSON.parse(data)
			for(truc in data) {
				id_ent = data[truc][0]
				$("#la_list").append("<li><a href=\"/entreprise/"+id_ent+"\">"+"entreprise "+truc+"</a></li>")
			}
		})
	}

	function initMap() {
		console.log("initmap, lat = "+truc_lat)
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 13,
			center: {lat: 59.325, lng: 18.070}
		});

		marker = new google.maps.Marker({
			map: map,
			draggable: true,
			animation: google.maps.Animation.DROP,
			position: {lat: 59.327, lng: 18.067}
		});
	}


$(document).ready(function() {
	if(navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(le_truc);
	}
	else {
		alert("y'a pas la loc lol")
	}
	if (! jQuery) {
		alert("y'a pas jqouéri lol")
	}
})
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9DZgogJYZANh8TRcA6C0X-iac1rIbG9g&callback=initMap"></script>
{% endblock %}