{% extends "entreprises/base_navbar_responsive.html" %}

{% block title %}
	entreprise {{entreprise.nom}}
{% endblock %}

{% block css_extra %}
	<link rel="stylesheet" href="/static/css/fileinput.css">
{% endblock %}

{% block js_footer %}
	<script src="/static/js/fileinput/canvas-to-blob.js"></script>
	<script src="/static/js/fileinput/sortable.js"></script>
	<script src="/static/js/fileinput/purify.min.js"></script>
	<script src="/static/js/fileinput/fileinput.js"></script>
	<script>
		$("#input-1").fileinput();
	</script>
{% endblock %}

{% block content %}
	{{ block.super }}
	<div class="col-lg-12">
		<h1 class="page-header">Envoyer des mails à la liste n°{{liste.id}}</h1>
	</div>

	<h2 class="text-center">Vous allez envoyer un mail à {{ liste.taille }} entreprise{{ liste.taille|pluralize }}</h2>

	<form action="/publipostage/post" method="POST">
		<input type="hidden" value="{{liste.id}}" name="id_liste">
		{% csrf_token %}
		
		<div class="form-group">
			<label for="inputSujet">Sujet du message</label>
			<input class="form-control" type="text" name="subject">
		</div>
		
		<div class="form-group">
			<label for="inputNom">Message texte ou html</label>
			<textarea name="message" id="messageTXT" rows="10" class="form-control"></textarea>
		</div>

		<div>
			<label class="control-label">Insérer des pièces jointe</label>
			<input name="inputFile" id="input-1" type="file" class="file" data-show-upload="false">
		</div>

		<input style="margin-top:20px;" type="submit" class="btn btn-success">
	</form>
{% endblock %}
