{% extends "entreprises/base_navbar_responsive.html" %}

{% block title %}
	entreprise {{entreprise.nom}}
{% endblock %}

{% block css_extra %}
	<style type="text/css">
		div.text-center:nth-child(2) > a:nth-child(1) {
			margin-bottom: 20px;
		}
	</style>
{% endblock %}

{% block content %}
	{{ block.super }}
	<div class="col-lg-12">
		<h1 class="page-header">Publipostage</h1>
	</div>

	<div class="text-center">
		<a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modalAddList">Ajouter une liste</a>
	</div>

	<table class="table table-striped table-responsive">
		<thead class="thead-inverse">
			<tr>
				<td>#</td>
				<td>Nom de la liste</td>
				<td>Nombre d'entreprise</td>
				<td>Envoyer un mail</td>
				<td>Ajouter une entreprise</td>
				<td>Afficher les entreprises</td>
			</tr>
		</thead>
		<tbody>
		{% for liste in listes %}
			<tr>
				<td>{{liste.id}}</td>
				<td>{{liste.nom}}</td>
				<td>{{liste.taille}} entreprise{{ liste.taille|pluralize }}</td>
				<td><a href="/publipostage/{{liste.id}}"><span class="glyphicon glyphicon-send"></span></a></td>
				<td><a href="#"><span class="glyphicon glyphicon-plus"></span></a></td>
				<td><a href="#" data-toggle="modal" data-target="#modalShow{{liste.id}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="text-center">
		<a class="btn btn-primary" href="#modalAddList" data-toggle="modal" data-target="#modalAddList">Ajouter une liste</a>
	</div>

	<div class="modal fade" id="modalAddList">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="GET" action="api/creerListe">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Créer une nouvelle liste</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="inputNom">Nom</label>
							<input type="text" class="form-control" id="inputNom" placeholder="Nom de la liste" name="nomListe"/>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						<input class="btn btn-success" type="submit" value="Créer">
					</div>
				</form>
			</div>
		</div>
	</div>

	{# création des modals pour l'affichage des entreprises dans les listes #}
	{# si l'app est vouée a avoir beaucoup de liste, ça serait mieux de faire un truc en ajax, mais j'ai la flemme lol #}
	{% for liste in listes %}
		<div class="modal fade" id="modalShow{{liste.id}}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form method="GET" action="api/creerListe">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">&Eacute;lèments </h4>
						</div>
						<div class="modal-body">
							<table class="table table-striped table-responsive">
							<thead class="thead-inverse">
								<tr>
									<td>#</td>
									<td>Nom de l'entreprise</td>
									<td>Téléphone</td>
									<td>Lien</td>
								</tr>
							</thead>
							<tbody>
							{% for entreprise in liste.entreprises.all %}
								<tr>
									<td>{{entreprise.id}}</td>
									<td>{{entreprise.nom}}</td>
									<td>{{entreprise.telephone}}</td>
									<td><a href="/entreprise/{{entreprise.id}}"><span class="glyphicon glyphicon-eye-open"></a></td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	{% endfor %}
{% endblock %}
