h1 {
	margin-left: auto;
	text-align:center;
}

body {
	padding-top: 60px;
}
.navbar-brand {
	color:white !important;
}
ul.navbar {
	margin-bottom: 0px;
}

.nav > li > a {
	color: white !important;
}

#collapseContact input {
	margin-bottom:12px;	
}

/** collapse de la recherche */
.collapse {
  height: auto;
  width: auto;
}

.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.collapse.in.width {
  width: auto;
}

.collapse.in.height {
  height: auto;
}

/* publipostage */
a span.glyphicon {
  color:black;
}

.thead-inverse {
  background-color: #373a3c;
  color:#fff;
}