ul.list-group li {
	text-align: center;
	height: 160px;
	float: left;
	color:black;
}

.thumbnail {
	background-color:#1F2528;
	height: 136px;
	color:white;
}

ul.list-group li h2 {
	overflow: hidden;
	height: 1.2em;
}

ul.list-group li {
	overflow: hidden;
}

.pagination {
	clear:both;
}
ul {
	list-style-type:none;
}

li a {
	color: black;
	text-decoration: none;
}

 ul.pagination li a {
    border: 1px solid black;
}

.thumbnail:hover {
	color:whitesmoke;
	/* border: 2px; solid black !important;*/
}

a.thumbnail {
	border-radius: 25px;
}